.container {
  padding: var(--padding-xxl);
}

.content {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.header {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: var(--margin-xxl);
}

.button {
  display: flex;
  align-items: center;
  margin-top: var(--margin-medium);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-light-brown);
}

.icon {
  position: relative;
  margin-left: 5px;
  left: 0;
  transition: all 0.4s ease;
}

.button:hover .icon {
  left: 2%;
}

.cardHeader {
  text-transform: uppercase;
  margin-top: var(--margin-medium);
  margin-bottom: var(--margin-medium);
}

.cardAuthor {
  color: var(--color-light-brown);
  font-style: italic;
  margin-top: var(--margin-medium);
  margin-bottom: var(--margin-medium);
}

.imageSize {
  width: 100%;
  height: auto;
  object-fit: cover;
}
