.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding-right: var(--padding-medium);
  padding-left: var(--padding-medium);
  background-color: transparent;
  transition: all 0.4s ease;
}

.navigation {
  padding: var(--margin-medium) var(--margin-xl);
  position: relative;
  display: flex;
  align-items: stretch;
}

.navigation__link {
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
  color: var(--color-white);
  text-decoration: none;
}

.navigation__link:hover {
  cursor: pointer;
  background-color: var(--color-light-gray);
}

.shadow {
  background-color: rgba(32, 32, 32, 0.9);
}

.menuIcon {
  display: none;
}

.active {
  background-color: var(--color-light-gray);
}

@media screen and (max-width: 880px) {
  .menuIcon {
    display: block;
    color: var(--color-light-brown);
    font-size: 2rem;
  }

  .container {
    height: 100%;
    flex-direction: column;
  }

  .mobileHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  .open {
    background-color: #00000081;
    backdrop-filter: blur(50px);
  }

  .closed {
    height: 10%;
  }

  .navClosed {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: var(--padding-medium);
  }
}

@media screen and (max-width: 440px) {
  .container {
    justify-content: center;
  }
  .image {
    height: 5vh;
  }
}
