.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: var(--vertical-margin-medium) var(--horizontal-margin-xl);
  z-index: 10;
}

.navigation {
  position: relative;
  display: flex;
  align-items: stretch;
}

.navigation__item {
  list-style: none;
  padding: 1rem;
  text-transform: uppercase;
  align-self: center;
  justify-content: center;
}

.navigation__item:hover {
  cursor: pointer;
  background-color: var(--color-light-gray);
}

.navigation__link {
  color: var(--color-white);
  text-decoration: none;
}
