.container {
  padding: var(--padding-xxl);
}

.content {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.header {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: var(--margin-xxl);
}

.card {
  display: flex;
  flex-direction: column;
}

.image_container {
  position: relative;
  height: 250px;
  width: 100%;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
}

.button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25%;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  padding: var(--padding-medium) var(--padding-xl);
  background-color: var(--color-light-brown);
  color: var(--color-white);
  border: 2px solid var(--color-light-brown);
  transition: all 0.4s ease;
}

.card:hover .button {
  bottom: 0;
}

.icon {
  font-size: 1.5rem;
  margin-right: var(--margin-medium);
  vertical-align: bottom;
}

.star {
  color: var(--color-light-brown);
}

.price {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--color-light-brown);
  line-height: 1;
}

.cross {
  text-decoration: line-through;
}

@media screen and (max-width: 880px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: var(--padding-xl);
  }
}
