.button {
  display: flex;
  align-items: center;
  margin-top: var(--margin-medium);
  text-transform: uppercase;
  text-decoration: none;
}

.brown {
  color: var(--color-light-brown);
}

.black {
  color: var(--color-black);
}

.white {
  color: var(--color-white);
}

.icon {
  position: relative;
  margin-left: 5px;
  left: 0;
  transition: left 0.4s ease;
}

.button:hover .icon {
  left: 2%;
}
