.container {
  padding: var(--padding-xxl);
}

.content {
  max-width: var(--max-width);
  margin: 0 auto;
}

.title_container {
  width: 50%;
  margin-bottom: var(--margin-large);
}

.title {
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: var(--margin-large);
}

.form_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form_input_container {
  position: relative;
}

.form_input {
  width: 100%;
  font-style: italic;
  background-color: var(--color-beige);
  padding: var(--padding-small);
  border: 2px solid transparent;
}

.form_textarea {
  width: 100%;
  margin-top: var(--margin-xl);
  margin-bottom: var(--margin-xl);
}

.form_button {
  width: 20%;
  padding: var(--margin-medium);
  cursor: pointer;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.form_button:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}

.error {
  color: red;
}

@media screen and (max-width: 800px) {
  .title_container {
    min-width: 100%;
  }
  .form_content {
    grid-template-columns: 1fr;
  }

  .container {
    padding: var(--padding-xl);
  }

  .form_button {
    min-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: var(--padding-xl);
  }
}
