.container {
  padding: var(--padding-xxl);
  background-image: url('/images/home1-parallax-1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.description {
  color: var(--color-white);
}

.header {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-large);
}

.title {
  font-size: 1.2rem;
  font-style: italic;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: var(--padding-medium) var(--padding-xl);
  margin-top: var(--margin-xl);
  background-color: var(--color-light-brown);
  color: var(--color-white);
  border: 2px solid;
  border-color: var(--color-light-brown);
  transition: all 0.4s ease;
}

.button:hover {
  background-color: var(--color-white);
  color: var(--color-light-brown);
}

@media screen and (max-width: 600px) {
  .container {
    padding: var(--padding-xl);
  }

  .content {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
  }

  .image {
    justify-self: center;
  }
}
