.container {
  padding: var(--padding-xxl);
}

.content {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media screen and (max-width: 1000px) {
  .content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: var(--padding-xl);
  }
}
