*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  position: relative;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 1.5rem;
  --margin-xl: 2rem;
  --margin-xxl: 4rem;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 1.5rem;
  --padding-xl: 2rem;
  --padding-xxl: 4rem;
  --color-white: #fff;
  --color-black: #30271c;
  --color-light-brown: #c7a17a;
  --color-dark-brown: #6d563f;
  --color-light-gray: rgba(252, 245, 245, 0.1);
  --color-dark-gray: #7e7e7e;
  --color-beige: #eae7de;
  --color-light-beige: #fdf8e8;
  --max-width: 1280px;
}
/* 
@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 440px) {
} */
