*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  position: relative;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --vertical-margin-medium: 1rem;
  --horizontal-margin-medium: 1rem;
  --horizontal-margin-large: 1.5rem;
  --horizontal-margin-xl: 2rem;
  --vertical-padding-small: 0.5rem;
  --vertical-padding-medium: 1rem;
  --horizontal-padding-small: 0.5rem;
  --horizontal-padding-medium: 1rem;
  --horizontal-padding-large: 1.5rem;
  --horizontal-padding-xl: 2rem;
  --color-white: #fff;
  --color-black: #30271c;
  --color-light-gray: rgba(252, 245, 245, 0.1);
}
