.button {
  background-color: var(--color-light-beige);
  border: 1px solid var(--color-light-brown);
  font-weight: bold;
  color: var(--color-dark-brown);
  transition: background-color 0.1s linear;
}

.button:hover {
  background-color: var(--color-beige);
  cursor: pointer;
}

.button:active {
  background-color: var(--color-light-brown);
}
